.container {
  max-width: 36rem;
  padding: 0;
  margin: 0;
}

.backToHome {
  margin: 3rem 0 0;
}

.heroImageWrapper {
  position: fixed;
  height: 100vh;
  width: 45vw;
  overflow: hidden;
  z-index: -1;
  top: 0;
}